*{
	margin: 0;
	padding: 0;
}
header{
	margin: 5vh 10vw;
	display: flex;
	justify-content: space-between;
	background-color: purple;
	padding: 10px 20px;
	border-radius: 15px;
	color: white;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	align-items: center;
}

#cart-button img{
	max-width: 40px;
	max-height: 40px;
}
#cart-button{
	background: none;
	border:none;
	padding: 8px;
	border:1px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}